<script src="/arquivos/bootstrap.js?u=1"></script>
<script src="/arquivos/pace.min.js"></script>
<script src="/arquivos/owl.carousel.min.js"></script>
<script src="/arquivos/menu-responsivo.js"></script>
<script src="/arquivos/advanced-filter.js"></script>
<script src="/arquivos/admake-mini-cart.js"></script>
<script src="/arquivos/default.js"></script>