<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

 <script src="/arquivos/bootstrap.js?u=1"></script>
 <script src="/arquivos/pace.min.js"></script>
 <script src="/arquivos/owl.carousel.min.js"></script>
 <script src="/arquivos/menu-responsivo.js"></script>
 <script src="/arquivos/advanced-filter.js"></script>
 <script src="/arquivos/admake-mini-cart.js"></script>
 <script src="/arquivos/default.js"></script>
 <script src="//io.vtex.com.br/vtex.js/2.0.0/vtex.min.js"></script>