<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/arquivos/jquery-ui.min.css" />


<link href="/arquivos/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/styles.css?v=0.2.15" rel="stylesheet" type="text/css" />