<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
 <div id="extra-footer-top"></div>

 <footer class="footer">
 
     <div class="container">
 
         <div class="row-menus row">
             <div class="col-inst-duvidas col-xs-12 col-sm-6">
                 <div class="row">
                     <div class="col-institucional col-xs-6">
                         <b>Institucional
                         </b>
                         <ul>
                             <li><a href="/institucional/quem-somos">Sobre a empresa</a></li>
                             <li><a href="#">Fornecedores</a></li>
                             <li><a href="#">Termos &amp; Condições</a></li>
                             <li><a href="#">Trabalhe Conosco</a></li>
                             <li><a href="#">Sustentabilidade</a></li>
                         </ul>
                     </div><!-- .col-institucional -->
                     <div class="col-duvidas col-xs-6">
                         <b>Dúvidas?</b>
                         <ul>
                             <li><a href="/institucional/ajuda">Ajuda</a></li>
                             <li><a href="#">Política de Privacidade</a></li>
                             <li><a href="#">Política de Segurança</a></li>
                             <li><a href="#">Política de Trocas</a></li>
                             <li><a href="#">Garantia</a></li>
                         </ul>
                     </div><!-- .col-duvidas -->
                 </div>
             </div><!-- .col-inst-duvidas -->
 
             <div class="col-atendimento-social col-xs-12 col-sm-6">
                 <div class="row">
                     <div class="col-atendimento col-xs-6">
                         <b>Atendimento</b>
                         <ul>
                             <li><a href="#">Central de Atendimento</a></li>
                             <li><a href="#">Chat Online</a></li>
                             <li><span>Televendas: <vtex.cmc:telefone /></span></li>
                         </ul>
                     </div><!-- .col-atendimento -->
                     <div class="col-newsletter col-xs-6 hidden-xs">
                         <b>Receba novidades</b>
                         
                     </div><!-- .col-newsletter -->
                     <div class="col-social col-xs-6 visible-xs">
                         <b>Social</b>
                         <ul class="list-inline">
                             <li><a href="#" target="_Blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#" target="_Blank" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                             <li><a href="#" target="_Blank" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                             <li><a href="#" target="_Blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                             <li><a href="#" target="_Blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
                         </ul>
                     </div><!-- .col-social -->
                 </div>
             </div><!-- .col-atendimento-social  -->
         </div><!-- .row-menus -->
 
         <div class="row-formas-pagto row">
 
             <div class="col-pague-com col-xs-6 col-sm-4">
                 <b>Pague com</b>
                 <img src="/arquivos/bandeiras-credito.png" alt="Visa, MarsterCard, Diners, Amex, Hipercard ou Elo" title="Visa, MarsterCard, Diners, Amex, Hipercard ou Elo" />
                 <img src="/arquivos/bandeiras-debito.png" alt="Itaú, Bradesco, Banco do Brasil, HSBC ou Boleto" title="Itaú, Bradesco, Banco do Brasil, HSBC ou Boleto" />
             </div><!-- .col-pague-com -->
 
             <div class="col-seguranca col-xs-6 col-sm-4">
                 <b>Segurança</b>
                 
             </div><!-- .col-seguranca -->
 
             <div class="col-social col-xs-4 hidden-xs">
                 <b>Social</b>
                 <ul class="list-inline">
                     <li><a href="#" target="_Blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#" target="_Blank" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                     <li><a href="#" target="_Blank" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                     <li><a href="#" target="_Blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#" target="_Blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
                 </ul>
             </div><!-- .col-social -->
 
         </div><!-- .row-formas-pagto -->
 
     </div><!-- .container -->
 
 </footer><!-- .footer -->
 
 <div id="extra-footer-middle"></div>
 
 <div class="copy-right text-center">
     <div class="container">
         <ul class="devs list-inline">
             <li>
                 <a href="https://www.vtex.com/" target="_Blank">
                     <img src="/arquivos/logo-vtex.png" alt="VTEX" class="img-responsive" />
                 </a>
             </li>
             
         </ul><!-- .devs -->
         <p>
             <vtex.cmc:copyright />
         </p>
     </div>
 </div><!-- .copy-right -->
 <div id="extra-footer-bottom"></div>