/*

#payment-group-custom201PaymentGroupPaymentGroup, #payment-group-creditDirectSalePaymentGroup, #payment-group-debitDirectSalePaymentGroup {
  display: none;
}



@media only screen and (max-width: 600px) {
    .header.row {
        margin-top: 21px;
    }
    
    .container {
        margin-top: 0px;
    }

    .centertopbar {
        margin-top: -21px !important;
    }

    span#free-shipping-texto {
        font-size: 12px;
    }
}

.centertopbar {
    background-color: rgb(34,34,34);
    color: #fff;
    position: absolute;
    padding-top:6px;
    padding-bottom: 6px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.container.principal {
    margin-top: 21px;
}

span#free-shipping-price {
    font-weight: 600;
}

.centertopbar span.pesos {
    font-weight: 600;
}
*/

a#cart-choose-more-products {
    margin: 10px;
    text-align: center;
}

a#cart-to-orderform {
    width: 120px;
}

td.monetary {
    display: inline-block;
    font-size: 15px;
}

.clearfix.pull-right.cart-links.cart-links-bottom.hide {
    display: flex;
    flex-direction: column;
}

td.empty {
    display: none;
}

@media only screen and (max-width: 480px) {
    .full-cart .totalizers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .clearfix.pull-right.cart-links.cart-links-bottom.hide {
        align-items: center;
    }

}

@media only screen and (min-width: 481px) {
    .clearfix.pull-right.cart-links.cart-links-bottom.hide {
        align-items: flex-end;
    }
}