

 #set($id = $product.Id)
 #set($idSku = $product.productVariantId)
 #set($uri = $product.Uri)
 #set($escapedName = $product.HtmlEscapedName)
 
 #if ($product.IsInStock)
 <span class="box-item text-center">
 #else
 <span class="box-item text-center product-off">
 #end
 
     <a class="product-image" title="$escapedName" href="$uri">
         $product.GetImageTag(2)
     </a>
     
     <b class="product-name">
     <h1>Nombre producto:</h1>
         <a title="$escapedName" href="$uri">
             $product.Name
         </a>
     </b>
     <div class="controldevtex">
         <vtex.cmc:stockKeepingUnitAmountAndUnitSelection />
     </div>
     #if ($product.IsInStock)
         <span class="price">
             <a title="$escapedName" href="$uri">
                 #if ($product.HasBestPrice)
                     <span class="old-price">
                         $product.ListPrice
                     </span>
                     <span class="best-price">
                         $product.BestPrice
                     </span>
                 #else
                     <span class="best-price">
                         $product.BestPrice
                     </span>                    
                 #end
                 #if ($product.NumbersOfInstallment > 1)
                     <span class="installment">
                         ou ${product.NumbersOfInstallment}x de $product.InstallmentValue
                     </span>
                 #end
             </a>
             <!--PRODUCT QUICK VIEW-->
             $product.QuickView
         </span>
         <!-- test -->
             <div class="precios-transparentes">
                 $product.MaxNumbersOfInstallment
                 $product.MaxInstallmentValue
             </div>
 
     <span class="compare">
         $product.Compare
     </span>
 
     #else
         <span class="out-of-stock">Produto Esgotado</span> 
     #end
 </span>