<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

 #set($id = $product.Id)
 #set($idSku = $product.productVariantId)
 #set($uri = $product.Uri)
 #set($escapedName = $product.HtmlEscapedName)
 
 #if ($product.IsInStock)
 <span class="box-item text-center">
 #else
 <span class="box-item text-center product-off">
 #end
 
     <a class="product-image" title="$escapedName" href="$uri">
         <div class="imagen-principal">$product.GetImageTag(2)</div>
         <div style="display:none;" class="gif">$product.ProductField(30)  
         <img style="width:250px !important; height:135px !important;" src="" class="gif-producto"></img>
     </div>
     </a>
     
     <b class="product-name">
         <a title="$escapedName" href="$uri">
             $product.Name
         </a>
     </b>
     #if ($product.IsInStock)
         <span class="price">
             <a title="$escapedName" href="$uri">
                 #if ($product.HasBestPrice)
                     <span class="old-price">
                         $product.ListPrice
                     </span>
                     <span class="best-price">
                         $product.BestPrice
                     </span>
                 #else
                     <span class="best-price">
                         $product.BestPrice
                     </span>                    
                 #end
                 #if ($product.NumbersOfInstallment > 1)
                     <!--<span class="installment">
                         ou ${product.NumbersOfInstallment}x de $product.InstallmentValue
                     </span>-->
                 #end
             </a>
         </span>
         <div class="flag">
             $product.HightLight
             $product.discountHightLight
         </div>
         
     $product.BottomBuyAsynchronous
 
     #else
         <span class="out-of-stock">Sin stock</span> 
     #end
 </span>